/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #3498db, #9b59b6);
}

.welcome-container {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 20px;
  margin-right: auto;
}

.welcome-content {
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 60%;
}

.welcome-content p {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: darkblue;
}

.welcome-content button {
  padding: 12px 24px;
  background-color: #fff;
  color: #3498db;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.welcome-content button:hover {
  background-color: #3498db;
  color: #fff;
}

.picture-container {
  width: 40%;
  text-align: center;
  margin-left: auto;
}

.picture-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
