.hotel-details {
    width: 100%;
    margin: 0 auto;
    height: 70%;
  }
  
  form {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field {
    width: calc(100% - 20px); /* Adjust width to accommodate padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #00588a;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  